@import '../../stylesheets/variables.scss';

.header {
  width: 100%;
  background-color: $color-white-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0px 2px 12px 0px #0030970f;
  height: $headerbar_ht;

  &__logo {
    // height: 2rem;
    width: 6.18rem;
    height: 0.688rem;
    // height: 2rem;
  }
  &__head_image {
    width: 5rem;
    height: 2.556rem;

    margin-left: 1.75rem;

    // opacity: 0px;
  }

  &__profile {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__profile-name {
    display: inline-block;
    padding: 0.5rem;
    margin-left: 0.5rem;

    &__initials {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 1px solid #adc2f4;
      background-color: #ffffff;
      color: #23489f;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      font-weight: 600;
      // line-height: 18px;
      text-align: center;
      margin-right: 0.5rem;
    }
  }

  &__logout {
    z-index: 99;
    display: none;
    position: absolute;
    top: 100%;
    left: 16px;
    width: 100%;
    background-color: #ffffff;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* width: 100%; */
    border-radius: 10px;
    //border: 0.5px solid grey;
    box-shadow: 0px 2px 12px 0px #0030970f;
    cursor: pointer;
  }

  &__profile:hover .header__logout {
    display: block;
    img {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.5rem;
    }
  }
}

.ArticleModal {
  position: absolute;
  inset: 61% 0% 0% 95% !important;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 0 !important;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  height: 100%;
  transform: translate(-48%, -61%) !important;

  &__Overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
}

.Filters {
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: space-between;

  &_title {
    color: $color-black-primary;
    font-size: $fs15;
  }
}

.wrapped-component {
  width: 50%;
}

.Filter {
  margin: 0 1rem;
}

.Wrong-Icon {
  cursor: pointer;
}
