.cdropdown {
  margin-bottom: 1.5rem;

  & label {
    margin-bottom: 0.5rem;
  }
}
.Dropdown-container {
  width: 100%;
  margin-right: 2rem;
}
.inner-form-wrapper{ 
  .discount_details_box{
    margin-top: 0px;
  }
}